body {
    background-color: #E1FAF9;
} 

h1{
    text-align: center;
}
.clt {
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}

nav {
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
}

section {
    color: #2A1F2D;
}

footer {
    margin-top: 5%;
    text-align: center;
}

/*Update CSS Margins, width and styles assignment */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  @media (max-width: 600px) {
    main {
        width: 95%;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    main {
        width: 92%;
    }
  }
  
  @media (min-width: 1025px) {
    main {
        width: 90%;
    }
  }
  