
body {
    background-color: darkolivegreen;
    text-align: center;
}
.links{
    text-align: center;
}

.headersite {
  border: 2px solid #000F08; 
  padding: 10px; 
  width: fit-content; 
  margin: 10px; 
  color: black;
  background-color: lightgreen;
  text-align: center;
  font-family: sans-serif;
}

body{
    text-align: center;
}

h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #73BA9B;

}
h2 {
    color: #c6eed9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e5f8ee;
    
}
h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F4FFF8;
}
.container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 100%;
}

a:visited {
   color: #1C3738; 
}

a:active {
    color: #F4FFF8;
}
a:hover {
    color: #8BAAAD;
}

.links {
    color: #F4FFF8;
}

.copyright {
    color: #F4FFF8;;
}

a {
  color: #F4FFF8;
  text-decoration: underline;  
}
