
body {
    background-color: darkolivegreen;
    text-align: center;
    
}
.links{
    text-align: center;
}


.headersite {
  border: 2px solid #000F08; 
  padding: 10px; 
  width: fit-content; 
  margin: 10px; 
  color: black;
  background-color: lightgreen;
  text-align: center;
  font-family: sans-serif;
}

body{
    text-align: center;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h2 {
    color: rgb(54, 37, 24);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


a:visited {
   color: #1C3738; 
}

a:active {
    color: #F4FFF8;
}
a:hover {
    color: #8BAAAD;
}

.links {
    color: #F4FFF8;
}

.copyright {
    color: #F4FFF8;;
}

a {
  color: #F4FFF8;
  text-decoration: underline;  
}



ul {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

img {
    text-align: center;
   

}

/*Update CSS Margins, width and styles assignment */

main {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
  }
  
  @media (max-width: 600px) {
    main {
      width: 95%;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    main {
        width: 92%;
    }
  }
  
  @media (min-width: 1025px) {
    main {
        width: 90%;
    }
  }
  
