
body {
    background-color: #4D4847;
}

.headersite {
  border: 2px solid #000F08; /* Black border with a 2px width */
  padding: 10px; /* Space between the text and the border */
  width: fit-content; /* Adjusts the width to fit the text content */
  margin: 10px; 
  color: #F4FFF8;
}