<div class="links">
    <nav class="footerlinks">
      <a href="https://webpages.charlotte.edu/hwells10/">Clt Web</a>
      <a href="https://github.com/hbwells1977">Github</a>
      <a href="https://github.com/hbwells1977/hbwells1977.github.io">Github.io</a>
      <a href="https://www.freecodecamp.org/hwells10">Freecodecamp</a>
      <a href="https://www.codecademy.com/profiles/hwells10">Codecademy</a>
      <a href="https://www.linkedin.com/in/hunter-w-41a614228/">Linkedin</a>
    </nav>
    </div>
    <p class="copyright">Designed by <a href="../DesignFirm/wellsdesigns.html">Wells Designs</a> &copy; 2025, <i>Certified in <a href="https://freecodecamp.org/certification/hwells10/responsive-web-design">Responsive Web Design</a></i></p>
