<div class="container">
    <div class="links">
      <nav>
        <a href="https://webpages.charlotte.edu/hwells10/itis3135/"> ITIS 3135 || </a>  
        <a href="https://webpages.charlotte.edu/hwells10/itis3135/contract.html">Contract || </a>
        <a href="https://webpages.charlotte.edu/hwells10/itis3135/introduction.html">Introduction</a>
        <a href="https://webpages.charlotte.edu/hwells10/"> || Charlotte Homepage</a>  
       </nav>
       <nav>
        <p class="projects">Projects: </p>
       <a href="https://webpages.charlotte.edu/hwells10/thatuhfolderhm/CRAPPEE%20%24%20RANDO.htm">Crapee || </a>
       <a href="https://webpages.charlotte.edu/hwells10/itis3135/hobby/index.html">Hobby || </a>
       <a href="https://webpages.charlotte.edu/hwells10/WhimsicalCompany/index.html">WhimsicalCompany || </a>
       <a href="https://webpages.charlotte.edu/hwells10/itis3135/website_evaluations.html">Website Evaluation || </a>
       <a href="https://webpages.charlotte.edu/hwells10/itis3135/byo_intro.html">Byo Intro</a>

       </nav>
      </div>
      </div>